.imageContainer,
.fields {
  padding: 0 15px;
}

.fields {
  flex: 1;
}

.row {
  display: flex;
  margin: 0 -15px;
}

.form {
  background-color: #ececec;
  border-radius: 5px;
  padding: 15px;

  input {
    background-color: #ececec;
  }
}

.image {
  align-items: center;
  background-color: #000;
  border-radius: 5px;
  display: flex;
  height: 150px;
  width: 150px;
  justify-content: center;
  margin-bottom: 0;

  img {
    max-height: 100%;
    max-width: 100%;
  }
}
